:root {
  --primary-bg-color: #efe9ec;
  --text-color: #323232;
  --accent-color: #271bb1;
  --highlight-color: #f0a3ed;
  --shadow-color: rgba(137, 140, 140, 0.5);
  --symbol-color: #ffb4fc;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--text-color);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.container {
  background: var(--primary-bg-color);
  border-radius: 10px;
  box-shadow: -5px -5px 10px 0px #ffffff, 5px 5px 10px 0px var(--shadow-color);
  margin: 50px auto 30px;
  max-width: 550px;
  padding: 50px;
}

/* Search Input */
input:focus {
  outline: none;
  text-align: center;
}

#citySearch::placeholder {
  color: var(--accent-color);
  text-align: center;
}

#citySearch {
  background: none;
  border: none;
  border-bottom: 2px solid var(--highlight-color);
  color: var(--accent-color);
  font-family: "poppins", sans-serif;
  font-size: 16px;
  transition: width 0.3s ease;
  width: 40px;
}

#hiddenText {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Current Weather */
main {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 30px;
}

.material-symbols-outlined#currentSymbol {
  color: var(--symbol-color);
  font-size: 70px;
  font-weight: 600;
  margin-top: 32px;
  text-align: right;
}

.current-temp {
  color: var(--accent-color);
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

.current-condition,
#currentDateTime {
  font-size: 12px;
  margin-bottom: 18px;
  margin-top: -15px;
}

#time {
  font-weight: 600;
}

/* Current Weather Details */
.current-details {
  margin: 0;
  margin-top: 16px;
  text-align: left;
}

.current-details span.material-symbols-outlined {
  color: var(--symbol-color);
  font-size: 20px;
}

strong.wind,
strong.humidity {
  font-size: 24px;
  font-weight: 600;
}

/* Forecast */
.forecast {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: 30px;
}

.weekday {
  margin: 0;
  margin-bottom: 10px;
}

.forecast div#forecastWeatherSymbol {
  color: var(--symbol-color);
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.forecast-temperature {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  margin-top: 5px;
}

/* Temperature Scale Switch */
.scale-switch {
  background: var(--primary-bg-color);
  border-radius: 35px;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 20px;
  width: 70px;
}

.scale-switch button {
  background: var(--primary-bg-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  margin: 3px;
  padding: 8px;
  transition: background-color 0.2s ease-in-out;
}

.scale-switch button.active {
  background: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 600;
}

/* Footer */
footer {
  color: var(--text-color);
  font-size: 12px;
}

a {
  color: var(--text-color);
  font-weight: 600;
  text-decoration: none;
}
