:root {
  --background-primary: #122535;
  --background-secondary: #142a3e;
  --text: #faf6f2;
  --accents: #ffb8e4;
}

body {
  background-color: var(--background-primary);
  color: var(--text);
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.container {
  background: var(--background-secondary);
  border-radius: 10px;
  margin: 50px auto 30px;
  max-width: 500px;
  padding: 50px;
}

/* Search Input */
input:focus {
  outline: none;
  text-align: center;
}

#citySearch::placeholder {
  color: var(--accents);
  text-align: center;
}

#citySearch {
  background: none;
  border: none;
  border-bottom: 2px solid var(--accents);
  color: var(--text);
  font-family: "poppins", sans-serif;
  font-size: 16px;
  transition: width 0.3s ease;
  width: 40px;
}

#hiddenText {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Current Weather */
main {
  color: var(--accents);
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 30px;
}

.current-symbol img {
  width: 80%;
  margin-top: 10px;
  margin-right: -75px;
}

@media (max-width: 500px) {
  .current-symbol img {
    margin-right: -20px;
  }
}

.current-temp {
  color: var(--text);
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

.current-condition,
#currentDateTime {
  font-size: 12px;
  margin-bottom: 18px;
  margin-top: -15px;
}

#time {
  font-weight: 600;
}

/* Current Weather Details */
.current-details {
  color: var(--accents);
  margin: 0;
  margin-top: 16px;
  text-align: left;
}

.current-details span.material-symbols-outlined {
  color: var(--accents);
  font-size: 20px;
}

.wind,
.humidity {
  color: var(--text);
  font-size: 24px;
  font-weight: 600;
}

/* Forecast */
.forecast {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: 20px 30px;
  justify-content: center;
}

.forecast-day {
  color: var(--accents);
  margin: 0;
  margin-bottom: 15px;
}

.forecast-symbol img {
  display: block;
  margin: -15px auto 5px;
  max-width: 75%;
}

#forecast-high strong {
  font-weight: 600;
}

/* Footer */
footer {
  color: var(--accents);
  font-size: 12px;
}

a {
  color: var(--accents);
  font-weight: 600;
  text-decoration: none;
}
