/* General Styling */
body {
  background-color: #f0e2c8;
  color: #323232;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

.container {
  background: #f8f3ea;
  border-radius: 10px;
  margin: 50px auto 30px;
  max-width: 550px;
  padding: 50px;
}

strong {
  font-weight: 600;
}

header {
  color: #323232;
  margin-bottom: 30px;
}

/* Search Input */
input:focus {
  outline: none;
  text-align: center;
}

#citySearch::placeholder {
  color: #271bb1;
  text-align: center;
}

#citySearch {
  background: none;
  border: none;
  border-bottom: 2px solid #ffb4fc;
  color: #271bb1;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  transition: width 0.3s ease;
  width: 40px;
}

#hiddenText {
  visibility: hidden;
  position: absolute;
  white-space: nowrap;
}

/* Current Weather */
main {
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 30px;
}

.material-symbols-outlined#currentSymbol {
  color: #ffb4fc;
  font-size: 80px;
  font-weight: 600;
  margin-top: 25px;
  text-align: right;
}

.current-temp {
  color: #271bb1;
  font-size: 64px;
  font-weight: 600;
  margin: 0;
}

.current-temperature-range,
.current-condition,
.current-details {
  font-size: 12px;
  margin-bottom: 18px;
  margin-top: -15px;
}

.current-temperature-range span.material-symbols-outlined {
  font-size: 18px;
  vertical-align: -0.25em;
}

/* Current Weather Details */
.current-details {
  margin: 0;
  margin-top: 3px;
  text-align: left;
}

.current-details span.material-symbols-outlined {
  color: #ffb4fc;
  font-size: 20px;
}

strong.rain,
strong.temperature,
strong.humidity {
  font-size: 24px;
  font-weight: 600;
}

/* Forecast */
.forecast {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  margin: 30px;
}

.weekday {
  margin: 0;
  margin-bottom: 10px;
}

.forecast div.material-symbols-outlined {
  color: #ffb4fc;
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.forecast span.material-symbols-outlined {
  font-size: 22px;
  vertical-align: -0.2em;
}

.forecast-temperature-range {
  font-size: 12px;
  margin: 0;
}

/* Temperature Scale Switch */
.temp-switch {
  background: #ffb4fc;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  margin: auto;
  position: relative;
  top: 20px;
  width: 70px;
}

.temp-switch button {
  background: #ffb4fc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  margin: 3px;
  padding: 8px;
  transition: background-color 0.2s ease-in-out;
}

.temp-switch button.active {
  background: #271bb1;
  color: #f8f3ea;
  font-weight: 600;
}

/* Footer */
footer {
  color: #271bb1;
  font-size: 12px;
}

a {
  color: #271bb1;
  font-weight: 600;
  text-decoration: none;
}
